body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#timer-container,
#dday-container,
#dday-setup,
#dday-display-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: #333;
}

#timer-display,
#dday-result {
  font-size: 2.5em;
  margin: 20px 0;
  color: #111;
}

input {
  width: 200px;
  height: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  min-width: 120px;
  padding: 10px 15px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  background-color: #87c3ff;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #57a5ff;
}
